*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.postersTab{
    display: flex;
    padding: .15rem;

}
.posters{
    width: 150px;
    height: 200px;
    padding: .15rem;
}

.bigPoster{
    width: 200px;
    height: 250px;
    padding: .15rem;
}